.container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #161717;
}

.left-side{
    width: 371px;
    height: 100%;
    display: flex;
}

.components{
    display: flex;
}

.smallside{
    display: flex;
    justify-content: left;
    width: 64px;
}